.button {
  @include flex-center(true);

  column-gap: 4px;
  padding: fluid-to-laptop(18, 14) fluid-to-laptop(24, 20);
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-red-45);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  user-select: none;

  @include laptop {
    border-radius: var(--border-radius-xs);
  }

  @include hover {
    color: var(--color-white);
    background-color: var(--color-red-55);
  }

  &:active {
    scale: 1.05;
  }

  &:disabled {
    color: var(--color-gray-60);
    background-color: var(--color-black-06);
    pointer-events: none;
  }

  &:has(.button__icon:only-child) {
    @include square(fluid(56, 44));

    padding: 0;
  }

  &--transparent {
    background-color: transparent;

    &:has(.button__icon:only-child) {
      @include square(44px);

      .button__icon {
        --iconSize: #{fluid-to-laptop(34, 28)};
      }
    }
  }

  &--black-08,
  &--blac-10 {
    border: var(--border);
  }

  &--black-08 {
    background-color: var(--color-black-08);
  }

  &--black-10 {
    background-color: var(--color-black-10);
  }
}
