.category-card {
  --categoryCardImagesGradientOffsetOpacity: 1;

  display: flex;
  flex-direction: column;
  padding: fluid(30, 20);
  background-color: var(--color-black-10);
  border: var(--border);
  border-radius: var(--border-radius-l);

  @include laptop {
    border-radius: var(--border-radius-m);
  }

  @include hover {
    --categoryCardImagesGradientOffsetOpacity: 0;

    color: var(--color-red-55);
    border-color: currentColor;

    .category-card__title {
      color: var(--color-red-55);
    }
  }

  &:focus-visible {
    outline-offset: -2px;
  }

  &__images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

    &::after {
      @include abs-cover;

      content: "";
      background-image: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, var(--color-black-10) 101.79%);
      opacity: var(--categoryCardImagesGradientOffsetOpacity);
      transition-duration: var(--transition-duration);
    }
  }

  &__image {
    width: 100%;
    height: fluid(124, 68);
    object-fit: cover;
    border-radius: var(--border-radius-m);

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__title {
    font-size: inherit;
    font-weight: 600;
    transition-duration: var(--transition-duration);
  }

  &__icon {
    &.icon {
      --iconSize: #{fluid(30, 20)};
    }
  }
}
