.footer {
  background-color: var(--color-black-06);

  &__menu {
    --footerMenuColumns: 6;

    display: grid;
    grid-template-columns: repeat(var(--footerMenuColumns), 1fr);
    gap: 30px fluid(30, 10);
    padding-block: fluid(100, 50);
    border-bottom: var(--border);

    @include laptop {
      --footerMenuColumns: 3;
    }

    @include mobile {
      --footerMenuColumns: 2;
    }

    &-column {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: fluid(24, 16);
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: fluid(14, 8);
    }

    &-title {
      @include fluid-text(20, 16);

      font-weight: 600;
      color: var(--color-white);
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    padding-top: fluid-to-laptop(24, 20);
    padding-bottom: fluid(50, 20);

    @include mobile {
      flex-direction: column;
      row-gap: 20px;
    }

    &-link {
      &:not(:last-child) {
        padding-right: 20px;
        border-right: var(--border);
      }

      &:not(:first-child) {
        padding-left: 20px;
      }
    }
  }
}
