.slider {
  position: relative;

  &__scrollbar {
    @include abs-x;

    top: calc(100% + 24px);
    width: 80px;
    height: 5px;
    background-color: var(--color-black-20);
    border-radius: 20px;

    &-drag {
      height: 100%;
      background-color: var(--color-red-45);
      border-radius: inherit;
    }
  }
}
